$('#question_answer').selectpicker({
	iconBase:"fa",
	noneSelectedText:"没有选择",
	countSelectedText:"选了{0}个，共{1}个",
  size: 4
});
function change_select(obj){
	selector=$('#question_answer');
	selector.html("");
	values=obj[0].value.split(",");
	for (var i = 0; i <= values.length -1; i++) {
		selector.append("<option value=\""+values[i]+"\">"+values[i]+"</option>");
	};
	selector.selectpicker('refresh');
}
$('#question_multiple').click(function(){
	if(question_multiple.checked){
		$('#question_answer').attr("multiple","multiple");
	}else{
		$('#question_answer').removeAttr("multiple");
	}
	$('#question_answer').selectpicker('refresh');
});

$('#question_options').tagsInput({
	"defaultText": "新建一个选项",
	'onChange' : change_select,
	'width':"460px"
});

$('#question_difficulty').change(function(){
	val=this.value;
	diff=$('#diff');
	diff.removeClass();
	diff.addClass("label");
	switch(parseInt(val)){
		case 1:case 2:
			diff.html("入门");
			break;
		case 3:case 4:
			diff.addClass("label-success");
			diff.html("简单");
			break;
		case 5:case 6:
			diff.addClass("label-info");
			diff.html("普通");
			break;
		case 7:case 8:
			diff.addClass("label-warning");
			diff.html("稍难");
			break;
		case 9:case 10:
			diff.addClass("label-important");
			diff.html("困难");
			break;
	}
});