<div class="page-header">
  <h1>未参加的考试 </h1>
</div>
<div class="row">
<table class="table table-striped">
	<thead>
		<th>考试名称</th>
		<th>简介</th>
		<th>起始时间</th>
		<th>结束时间</th>
		<th>考试时长</th>
		<th>试题数量</th>
		<th>平均难度</th>
		<th>提供者</th>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>
</div>